<a href="https://colab.research.google.com/github/JingyuHe02/COMP3132/blob/main/Assignment2/Assignment_02_Instrctions.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Assignment 02
The following assignment is a step-by-step process to implement a multiclass classification using Iris dataset.

**Note:**

- Please note that every question has 0.5 and it provides five out of total ten marks for the assignment. 5/10%

The video presentation 5/10%.

Without YouTube presentation you receive no mark for the submission.

In [1]:
#00 The iris.csv file (Iris dataset) is located in the Assignment folder below the current ipynb file.

import os
import numpy as np
import pandas as pd

from sklearn.model_selection import train_test_split

import tensorflow as tf
from tensorflow import keras
from tensorflow.keras import models, layers
from tensorflow.keras.utils import to_categorical

# (Optional for Colab) Mount Google Drive if you stored iris.csv there:
from google.colab import drive
drive.mount('/content/drive')

Mounted at /content/drive

 **Important Note:** We are NOT allowed to import the dataset from Keras. We need to upload the provided iris.csv file to colab from our Google Drive.

In [ ]:
#00 1st, upload the iris.csv into your Google Drive (your Colab folder).
# If iris.csv is in the same folder as this notebook, you can just use "iris.csv" as the path.

In [ ]:
#01-a Find the path of iris.csv file, and save it in a variable called fileName.

In [2]:
#01-a Find the path of iris.csv file, and save it in a variable called fileName.

# User confirmed path after upload
# Assuming the file is in 'Colab Notebooks' folder within Google Drive
fileName = "/content/drive/MyDrive/Colab Notebooks/Assignment_02_iris.csv"

print("Using file path:", fileName)

Using file path: /content/drive/MyDrive/Colab Notebooks/Assignment_02_iris.csv

In [ ]:
#01-b Read the content of the iris.csv file and save it in a variable, named iris.

In [3]:
#01-b Read the content of the iris.csv file and save it in a variable, named iris.

iris = pd.read_csv(fileName)
print("iris shape:", iris.shape)

iris shape: (150, 5)

In [4]:
import os
print(os.listdir('/content/'))

['.config', 'drive', 'sample_data']

In [ ]:
#01-c Show the first 5 rows of the dataframe.

In [5]:
#01-c Show the first 5 rows of the dataframe.

iris.head()

   sepal_length  sepal_width  petal_length  petal_width species
0           5.1          3.5           1.4          0.2  setosa
1           4.9          3.0           1.4          0.2  setosa
2           4.7          3.2           1.3          0.2  setosa
3           4.6          3.1           1.5          0.2  setosa
4           5.0          3.6           1.4          0.2  setosa

As you see, the last column contains strings. We want to convert these strings to integers,  and we can work with them easily in our Neural Network model.

setosa -> 0

versicolor -> 1

virginica -> 2

In [ ]:
#2-a Convert the last column strings to integers, as
# setosa -> 0
# versicolor -> 1
# virginica -> 2

In [6]:
#2-a Convert the last column strings to integers, as
# setosa -> 0
# versicolor -> 1
# virginica -> 2

label_map = {"setosa": 0, "versicolor": 1, "virginica": 2}
iris["species"] = iris["species"].map(label_map)

# quick check for missing mapping
print("Any NaN after mapping?:", iris["species"].isna().any())

Any NaN after mapping?: False

In [ ]:
#2-b Now, check the first 5 elements of the iris dataset once again:

In [7]:
#2-b Now, check the first 5 elements of the iris dataset once again:

iris.head()

   sepal_length  sepal_width  petal_length  petal_width  species
0           5.1          3.5           1.4          0.2        0
1           4.9          3.0           1.4          0.2        0
2           4.7          3.2           1.3          0.2        0
3           4.6          3.1           1.5          0.2        0
4           5.0          3.6           1.4          0.2        0

In [ ]:
#03-a Select the first four columns of the dataframe as the Data and call the data x.

In [8]:
#03-a Select the first four columns of the dataframe as the Data and call the data x.

x = iris.iloc[:, 0:4]
x.head()

   sepal_length  sepal_width  petal_length  petal_width
0           5.1          3.5           1.4          0.2
1           4.9          3.0           1.4          0.2
2           4.7          3.2           1.3          0.2
3           4.6          3.1           1.5          0.2
4           5.0          3.6           1.4          0.2

In [ ]:
#03-b Select the last column as the label and call it y.

In [9]:
#03-b Select the last column as the label and call it y.

y = iris.iloc[:, 4]
y.head()

0    0
1    0
2    0
3    0
4    0
Name: species, dtype: int64

In [ ]:
#04 Now, it is the time to split the data (x) and the label (y) into training and testin segments,
#   and call them parts x_train,x_test,y_train,y_test.

In [ ]:
#04-a Split the data, and label ito training and testing segments, while the size of test data is 20%,
#     and use randome_state = 123 to make all the answers similar in the whole class.

In [10]:
#04-a Split the data, and label ito training and testing segments, while the size of test data is 20%,
#     and use randome_state = 123 to make all the answers similar in the whole class.

x_train, x_test, y_train, y_test = train_test_split(
    x, y, test_size=0.20, random_state=123
)

print("x_train shape:", x_train.shape)
print("x_test shape:", x_test.shape)
print("y_train shape:", y_train.shape)
print("y_test shape:", y_test.shape)

x_train shape: (120, 4)
x_test shape: (30, 4)
y_train shape: (120,)
y_test shape: (30,)

In [ ]:
#04-b Check the first five rows of  x_train,x_test,y_train,y_test.

In [11]:
#04-b Check the first five rows of  x_train,x_test,y_train,y_test.

print("x_train (first 5 rows):")
display(x_train.head())

x_train (first 5 rows):

     sepal_length  sepal_width  petal_length  petal_width
130           7.4          2.8           6.1          1.9
119           6.0          2.2           5.0          1.5
29            4.7          3.2           1.6          0.2
0             5.1          3.5           1.4          0.2
62            6.0          2.2           4.0          1.0

In [12]:
print("x_test (first 5 rows):")
display(x_test.head())

x_test (first 5 rows):

     sepal_length  sepal_width  petal_length  petal_width
72            6.3          2.5           4.9          1.5
112           6.8          3.0           5.5          2.1
132           6.4          2.8           5.6          2.2
88            5.6          3.0           4.1          1.3
37            4.9          3.1           1.5          0.1

In [13]:
print("y_train (first 5 values):")
print(y_train.head())

y_train (first 5 values):
130    2
119    2
29     0
0      0
62     1
Name: species, dtype: int64

In [14]:
print("y_test (first 5 values):")
print(y_test.head())

y_test (first 5 values):
72     1
112    2
132    2
88     1
37     0
Name: species, dtype: int64

In [ ]:
#04-c Check the length of the x_train and x_test. If the numbers are 120 & 30, AWESOME!
#     You are good to continue!

In [15]:
#04-c Check the length of the x_train and x_test. If the numbers are 120 & 30, AWESOME!
#     You are good to continue!

print("len(x_train):", len(x_train))
print("len(x_test):", len(x_test))

len(x_train): 120
len(x_test): 30

In [ ]:
#05-a Convert y_train and y_test from categorical to one-hot encoded values, and call them
#     one_hot_train_labels, and one_hot_test_labels, respectively.

In [16]:
#05-a Convert y_train and y_test from categorical to one-hot encoded values, and call them
#     one_hot_train_labels, and one_hot_test_labels, respectively.

one_hot_train_labels = to_categorical(y_train, num_classes=3)
one_hot_test_labels = to_categorical(y_test, num_classes=3)

print("one_hot_train_labels shape:", one_hot_train_labels.shape)
print("one_hot_test_labels shape:", one_hot_test_labels.shape)

one_hot_train_labels shape: (120, 3)
one_hot_test_labels shape: (30, 3)

In [ ]:
#06-a Define a sequential model that contains 3 dense layers.
#     In the first and second layers, use 100 hidden units (neurons) and a 'relu' activation function.
#     For the last layer, we need to use 3 as the number of output,
#     and the reason is we have three classes (setosa -> 0, versicolor -> 1, virginica -> 2)
#     Also, please pick an appropriate loss function for the last layer.
#     (You may already have guessed what could be the best loss function when we have converted the categorical values to encoded values.)

In [17]:
#06-a Define a sequential model that contains 3 dense layers.
#     In the first and second layers, use 100 hidden units (neurons) and a 'relu' activation function.
#     For the last layer, we need to use 3 as the number of output,
#     and the reason is we have three classes (setosa -> 0, versicolor -> 1, virginica -> 2).

model_100 = models.Sequential([
    layers.Input(shape=(4,)),
    layers.Dense(100, activation="relu"),
    layers.Dense(100, activation="relu"),
    layers.Dense(3, activation="softmax")
])

model_100.summary()

Model: "sequential"

 Layer (type)                     Output Shape                  Param #

 dense (Dense)                    (None, 100)                       500

 dense_1 (Dense)                  (None, 100)                    10,100

 dense_2 (Dense)                  (None, 3)                         303

 Total params: 10,903 (42.59 KB)

 Trainable params: 10,903 (42.59 KB)

 Non-trainable params: 0 (0.00 B)

In [ ]:
#06-b Now, compile your model using the 'rmsprop' optimizer, an appropriate loss function, and 'accuracy' for your metrics.

In [18]:
#06-b Now, compile your model using the 'rmsprop' optimizer, an appropriate loss function, and 'accuracy' for your metrics.

model_100.compile(
    optimizer="rmsprop",
    loss="categorical_crossentropy",
    metrics=["accuracy"]
)

In [ ]:
#07-a Train your model using epoch=20, batch=10.

In [19]:
#07-a Train your model using epoch=20, batch=10.

history_100 = model_100.fit(
    x_train,
    one_hot_train_labels,
    epochs=20,
    batch_size=10,
    validation_split=0.2,
    verbose=1
)

Epoch 1/20
10/10  1s 24ms/step - accuracy: 0.3889 - loss: 1.1450 - val_accuracy: 0.8750 - val_loss: 0.8231
Epoch 2/20
10/10  0s 9ms/step - accuracy: 0.7378 - loss: 0.7908 - val_accuracy: 0.6667 - val_loss: 0.7038
Epoch 3/20
10/10  0s 7ms/step - accuracy: 0.8422 - loss: 0.6161 - val_accuracy: 0.7500 - val_loss: 0.5947
Epoch 4/20
10/10  0s 8ms/step - accuracy: 0.8248 - loss: 0.5075 - val_accuracy: 0.6250 - val_loss: 0.5592
Epoch 5/20
10/10  0s 7ms/step - accuracy: 0.8415 - loss: 0.4448 - val_accuracy: 0.6667 - val_loss: 0.5265
Epoch 6/20
10/10  0s 7ms/step - accuracy: 0.8820 - loss: 0.3516 - val_accuracy: 0.8750 - val_loss: 0.4421
Epoch 7/20
10/10  0s 7ms/step - accuracy: 0.9551 - loss: 0.3332 - val_accuracy: 0.9167 - val_loss: 0.4082
Epoch 8/20
10/10  0s 8ms/step - accuracy: 0.9981 - loss: 0.2836 - val_accuracy: 0.8750 - val_loss: 0.4003
Epoch 9/20
10/10  0s 8ms/step - accuracy: 0.9429 - loss: 0.2574 - val_accuracy: 0.7917 - val_loss: 0.3791
Epoch 10/20
10/10  0s 8ms/step - accuracy: 0.9418 - loss: 0.2292 - val_accuracy: 0.8333 - val_loss: 0.3605
Epoch 11/20
10/10  0s 8ms/step - accuracy: 0.9815 - loss: 0.2126 - val_accuracy: 0.8333 - val_loss: 0.3441
Epoch 12/20
10/10  0s 8ms/step - accuracy: 0.9444 - loss: 0.2184 - val_accuracy: 0.9583 - val_loss: 0.2837
Epoch 13/20
10/10  0s 7ms/step - accuracy: 0.9822 - loss: 0.1816 - val_accuracy: 0.9167 - val_loss: 0.3205
Epoch 14/20
10/10  0s 7ms/step - accuracy: 1.0000 - loss: 0.1628 - val_accuracy: 0.9167 - val_loss: 0.2956
Epoch 15/20
10/10  0s 8ms/step - accuracy: 0.9843 - loss: 0.1352 - val_accuracy: 0.9167 - val_loss: 0.2536
Epoch 16/20
10/10  0s 7ms/step - accuracy: 0.9891 - loss: 0.1130 - val_accuracy: 0.9167 - val_loss: 0.2374
Epoch 17/20
10/10  0s 7ms/step - accuracy: 0.9448 - loss: 0.1338 - val_accuracy: 0.9167 - val_loss: 0.2459
Epoch 18/20
10/10  0s 8ms/step - accuracy: 0.9694 - loss: 0.1313 - val_accuracy: 0.9167 - val_loss: 0.2223
Epoch 19/20
10/10  0s 7ms/step - accuracy: 0.9654 - loss: 0.1162 - val_accuracy: 0.9167 - val_loss: 0.2595
Epoch 20/20
10/10  0s 8ms/step - accuracy: 0.9820 - loss: 0.0784 - val_accuracy: 0.8750 - val_loss: 0.2232

In [ ]:
#08-a Calculate the result, evaluating x_test and one_hot_test_label, and report on the accuracy of your model.

In [20]:
#08-a Calculate the result, evaluating x_test and one_hot_test_label, and report on the accuracy of your model.

test_loss_100, test_acc_100 = model_100.evaluate(x_test, one_hot_test_labels, verbose=0)
print("Model (100 units) - Test loss:", test_loss_100)
print("Model (100 units) - Test accuracy:", test_acc_100)

Model (100 units) - Test loss: 0.23951570689678192
Model (100 units) - Test accuracy: 0.8666666746139526

In [ ]:
#09-a Now, we repeat all we have done in #06-a with the following parameters:
#     In the first and second hidden layers, use 10 hidden units (neurons) and a 'relu' activation function.
#     For the output layer, we need to use 3.

In [21]:
#09-a Now, we repeat all we have done in #06-a with the following parameters:
#     In the first and second hidden layers, use 10 hidden units (neurons) and a 'relu' activation function.
#     For the output layer, we need to use 3.

model_10 = models.Sequential([
    layers.Input(shape=(4,)),
    layers.Dense(10, activation="relu"),
    layers.Dense(10, activation="relu"),
    layers.Dense(3, activation="softmax")
])

model_10.summary()

Model: "sequential_1"

 Layer (type)                     Output Shape                  Param #

 dense_3 (Dense)                  (None, 10)                         50

 dense_4 (Dense)                  (None, 10)                        110

 dense_5 (Dense)                  (None, 3)                          33

 Total params: 193 (772.00 B)

 Trainable params: 193 (772.00 B)

 Non-trainable params: 0 (0.00 B)

In [ ]:
#09-b Use the same settings as for #06-b (compile using the same optimizer, loss function) and output the accuracy

In [22]:
#09-b Use the same settings as for #06-b (compile using the same optimizer, loss function) and output the accuracy

model_10.compile(
    optimizer="rmsprop",
    loss="categorical_crossentropy",
    metrics=["accuracy"]
)

In [ ]:
#09-c Please fit your model using epoch=4, batch=10.

In [23]:
#09-c Please fit your model using epoch=4, batch=10.

history_10 = model_10.fit(
    x_train,
    one_hot_train_labels,
    epochs=4,
    batch_size=10,
    validation_split=0.2,
    verbose=1
)

Epoch 1/4
10/10  1s 24ms/step - accuracy: 0.4187 - loss: 1.4264 - val_accuracy: 0.4167 - val_loss: 1.1144
Epoch 2/4
10/10  0s 7ms/step - accuracy: 0.3226 - loss: 1.3363 - val_accuracy: 0.4167 - val_loss: 1.0808
Epoch 3/4
10/10  0s 7ms/step - accuracy: 0.3573 - loss: 1.1656 - val_accuracy: 0.4167 - val_loss: 1.0592
Epoch 4/4
10/10  0s 8ms/step - accuracy: 0.3308 - loss: 1.1782 - val_accuracy: 0.4167 - val_loss: 1.0466

In [ ]:
#09-d Calculate the result, evaluating x_test and one_hot_test_label, and report on the accuracy of your model.

In [24]:
#09-d Calculate the result, evaluating x_test and one_hot_test_label, and report on the accuracy of your model.

test_loss_10, test_acc_10 = model_10.evaluate(x_test, one_hot_test_labels, verbose=0)
print("Model (10 units) - Test loss:", test_loss_10)
print("Model (10 units) - Test accuracy:", test_acc_10)

Model (10 units) - Test loss: 1.2089860439300537
Model (10 units) - Test accuracy: 0.20000000298023224

In [ ]:
#10-a In your video submission, explain each line of your code, and the arguments you've used
# Ensure to answer the following questions at a minimum:
# 10-a-i) How the number of layers or hidden units could impact the accuracy of our model.
# 10-a-ii) Do we always suffer from overfitting?
# 10-a-iii) How can we detect overfitting?
# 10-a-iv) How can we reduce overfitting?

In [25]:
#10-b
# Use different settings than the ones we chose in #09
# Change each of the following once:
#   i)   optimizer
#   ii)  number of layers
#   iii) hidden units
#   iv)  number of epochs
#   v)   batch_size
# Change one parameter at a time, and rerun the cell(s), then explain the output

# Example experiment (different from #09):
# - optimizer: adam (changed)
# - number of layers: 4 dense layers total (changed)
# - hidden units: 32 and 16 (changed)
# - epochs: 10 (changed)
# - batch_size: 8 (changed)

model_exp = models.Sequential([
    layers.Input(shape=(4,)),
    layers.Dense(32, activation="relu"),
    layers.Dense(16, activation="relu"),
    layers.Dense(16, activation="relu"),
    layers.Dense(3, activation="softmax")
])

model_exp.compile(
    optimizer="adam",
    loss="categorical_crossentropy",
    metrics=["accuracy"]
)

history_exp = model_exp.fit(
    x_train,
    one_hot_train_labels,
    epochs=10,
    batch_size=8,
    validation_split=0.2,
    verbose=1
)

test_loss_exp, test_acc_exp = model_exp.evaluate(x_test, one_hot_test_labels, verbose=0)
print("Experiment model - Test loss:", test_loss_exp)
print("Experiment model - Test accuracy:", test_acc_exp)

Epoch 1/10
12/12  1s 17ms/step - accuracy: 0.3511 - loss: 1.1141 - val_accuracy: 0.3750 - val_loss: 1.0282
Epoch 2/10
12/12  0s 5ms/step - accuracy: 0.3178 - loss: 1.0288 - val_accuracy: 0.5833 - val_loss: 0.9835
Epoch 3/10
12/12  0s 6ms/step - accuracy: 0.5640 - loss: 0.9866 - val_accuracy: 0.5833 - val_loss: 0.9445
Epoch 4/10
12/12  0s 5ms/step - accuracy: 0.6505 - loss: 0.9348 - val_accuracy: 0.5833 - val_loss: 0.8952
Epoch 5/10
12/12  0s 6ms/step - accuracy: 0.5551 - loss: 0.9149 - val_accuracy: 0.5833 - val_loss: 0.8406
Epoch 6/10
12/12  0s 5ms/step - accuracy: 0.6588 - loss: 0.8396 - val_accuracy: 0.5833 - val_loss: 0.7937
Epoch 7/10
12/12  0s 5ms/step - accuracy: 0.6611 - loss: 0.8046 - val_accuracy: 0.6250 - val_loss: 0.7610
Epoch 8/10
12/12  0s 5ms/step - accuracy: 0.7073 - loss: 0.7460 - val_accuracy: 0.7083 - val_loss: 0.7218
Epoch 9/10
12/12  0s 6ms/step - accuracy: 0.7925 - loss: 0.7209 - val_accuracy: 0.7917 - val_loss: 0.6959
Epoch 10/10
12/12  0s 5ms/step - accuracy: 0.9248 - loss: 0.6995 - val_accuracy: 0.7917 - val_loss: 0.6615
Experiment model - Test loss: 0.6460447907447815
Experiment model - Test accuracy: 0.8666666746139526

---
# Deliverables:
1. Submit the current ipynb file on D2L
2. Please record and upload to YouTube 3-6 minute recorded video clip (aim for 5 minutes) describing the answers to the questions above, espcially #10.

Notes:
- In your submission, YOU MUST SUBMIT A LINK TO YOUR YOUTUBE VIDEO as a TEXT SUBMISSION SECTION on your D2L submission.
- Omitting this D2L comment will result in a 0% for your total mark.